{% extends "portfolio/base.html" %}

{% block content %}
    {% load static %}
    <h1>Jaskiran's Portfolio</h1>
    <img src="{% static 'portfolio/pic.jpeg' %}" height="200" width="200">

    <a href="{% static 'portfolio/resume.pdf' %}">Resume</a><br>
    <a href="{% url 'blogs:all_blogs' %}">All Blogs</a>
    <br>
    {% for project in projects %}
    {{ project.title }}<br>
    {{ project.description }}<br>
    <img src="{{ project.image.url }}" height="180" width="180">
    <br>
    {% if project.url %}
    <a href="{{ project.url }}"> Project Link</a>
    {% endif %}
    <br>

    {% endfor %}
{% endblock %}
